[Unit]
Description=Sensor for Sump
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/gunicorn --workers 1 --bind 0.0.0.0:5000 sumpSensor:app
Restart=on-abort

[Install]
WantedBy=multi-user.target
